.container {
  padding: 0 20px;
  width: 100vw;

  @include breakpoint-up(lg) {
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 952px;
    width: auto;
  }

  @include breakpoint-up(xl) {
    max-width: 1044px;
  }

  @include breakpoint-up(xxl) {
    max-width: 1280px;
  }
}
